# Exclude development-specific files and folders
node_modules/
*.map
*.test.js
*.spec.js
test/
tests/
docs/
examples/
config/
scripts/
package-lock.json
TextareaWithCopy.js
Textareaaa.js
UseShHooks.js
Button.js
Accordion.js
Card.js
Alert.js
Badge.js
Dropdown.js
TestComponent.js
Updateit.js
